
    <section class="hero py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-6xl font-bold">Get yourself a burger then!</h1>
            <button class=" btn-primary px-6 py-2 rounded-full text-white font-bold mt-4"></button>
            </div >
            <div class="w-1/2">
          <img class="h-40 mb-4 mx-auto "src="img/burger.png" >
            </div>
        </div>
    </section>
    <section class="menu container mx-auto py-8">
   <h1 class="text-xl  font-bold mb-8">All Burgers</h1>
   <div class="grid grid-cols-4 col-gap-12 row-gap-12">
    <%burgers.forEach(function(burgers){ %>
        <div class="w-40 ">
            <img class="h-40 mb-4 mx-auto "src="img/<%=burgers.image%>">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%=burgers.name%></h2>
                <span class=" size py-1 px-4 rounded-full uppercase txt-xs"><%=burgers.size%></span>
                <div class="flex item-centre justify-around mt-6">
                    <span class="font-bold text-lg">Rs <%=burgers.price%></span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <Span class=ml-4>Add</Span>
                    </button>
                </div>
            </div>
        </div>
        <% })%>
    </div>
    </section>
    