body {
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #E31010;
}
nav li:last-child a:hover {
  background: #C30C0C;
}

nav li a {
  transition: all 0.3 ease-in-out;
}
nav li a:hover {
  color: #E31010;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #E31010;
  color: #E31010;
  transition: all 0.3 ease-in-out;
}
.add-to-cart:hover {
  background: #E31010;
  color: #fff;
  border-color: #fff;
}

.btn-primary {
  background: #E31010;
  transition: all 0.3 ease-in-out;
}
.btn-primary:hover {
  background: #C30C0C;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: primary;
}

section.login {
  background: #F8F8F8;
  min-height: calc(100vh-86px);
}
section.login a {
  color: #E31010;
}
section.login a:hover {
  color: #C30C0C;
}
